
<hr>
<div style="float: left; width: 30%; border-style: solid;">
    <form  [formGroup]="brandDataForm">
      <br />
        
          <div class="col">
           
            <label> Brand Name</label>
            <input  class="form-control" placeholder="First name"  formControlName="name">
          </div>
          <div class="col">
           
            <label> Brand Status</label>
            <select class="browser-default custom-select" formControlName="status">
                <option value=true>Active</option>
                <option value=false>Inactive</option>
              </select>
          </div>
     <button class="btn btn-primary" style="margin-left:20%; margin-top: 20px;" (click)="saveData(this.brandDataForm.value.name,this.brandDataForm.value.status)"  [disabled]="this.brandDataForm.invalid">Save</button>
      <br />
      <br />
        
      </form>

</div>
<div style="float: left ; width: 65%; margin-left: 1%;">
    <table class="table">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
          </tr>
        </thead>
        <tbody>
          <tr class="tbody" *ngFor="let brand of brandData; let i=index">
            <th scope="row">{{ i}}</th>
            <td>{{ brand.name }}</td>
            <td>{{ brand.status }}</td>
            <td><button class="btn btn-warning" (click)="editBrandData(brand.brandId)" >Edit</button>&nbsp;
              <button class="btn btn-danger" (click)="deleteBrandData(brand.brandId)" >Delete</button></td>
          </tr>
        </tbody>
      </table>
</div>

