<form [formGroup]="productDataForm">
    <br />

    <div class="col">

        <label> Product Name</label>
        <input class="form-control" placeholder="First name" formControlName="name">
    </div>

    <div class="col">

        <label> Choose Brand </label>
        <select class="browser-default custom-select" formControlName="brandId">
            <option *ngFor="let brand of brandData; index as i" value="{{brand.brandId}}">{{brand.name}}</option>
        </select>
    </div>
    <div class="col">
        <label>Choose Category</label>
        <select class="browser-default custom-select" formControlName="categoryId">
            <option *ngFor="let category of categoryData; index as i" value="{{category.categoryId}}">{{category.name}}
            </option>
        </select>
    </div>
    <div class="col">

        <label> Product Status</label>
        <select class="browser-default custom-select" formControlName="status">
            <option value=true>Active</option>
            <option value=false>Inactive</option>
        </select>
    </div>
    <button class="btn btn-primary" style="margin-left:40%; margin-top: 20px;"
        (click)="saveOrEditProduct(productDataForm.value)" [disabled]="this.productDataForm.invalid">Save</button>
    <br />
    <br />
</form>