<hr>
<div style="float: left; width: 30%; border-style: solid;">
    <form [formGroup]="unitDataForm">
        <br />

        <div class="col">

            <label> Unit Amount</label>
            <input class="form-control" placeholder="First name" formControlName="name">
        </div>
        <div class="col">

            <label> Unit Status</label>
            <select class="browser-default custom-select" formControlName="status">
                <option value=true>Active</option>
                <option value=false>Inactive</option>
            </select>
        </div>
        <button class="btn btn-primary" style="margin-left:20%; margin-top: 20px;"
            (click)="saveData(this.unitDataForm.value.name,this.unitDataForm.value.status)"
            [disabled]="this.unitDataForm.invalid">Save</button>
        <br />
        <br />

    </form>

</div>
<div style="float: left ; width: 65%; margin-left: 1%;">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tbody" *ngFor="let unit of unitData; let i=index">
                <th scope="row">{{ i}}</th>
                <td>{{ unit.name }}</td>
                <td>{{ unit.status }}</td>
                <td><button class="btn btn-warning" (click)="editUnitData(unit.unitId)">Edit</button>&nbsp;
                    <button class="btn btn-danger" (click)="deleteUnitData(unit.unitId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>